<!-- Owner: David Paquin !-->
<!-- Date: 11/29/2022 !-->

<%= stylesheet_link_tag 'profile', media: "all" %>
<h1>Edit Profile Information</h1>

<%= render "form", admin: @admin %>

<br>

<div>
</div>
