<%# Created By: David Paquin %>
<%# Creation Date: 11/20/22 %>

<%= stylesheet_link_tag '_footer', media: "all" %>

<footer>
  <div id="foo">
    Dr. Naeem Shareef
  </div>
  <div id="backToTop">
    <a href="#">
      Back To Top
    </a>
  </div>
  <span id="info">
    CSE 3901 AU22 - Runtime Terrors — The Ohio State University
  </span>
</footer>

