<!--Author: Ross Imbrock-->
<!--Created on: 12/03/22-->
<h1>Editing Tech Task Team Evaluation</h1>

<%= render "form", tech_task_evaluation: @tech_task_evaluation %>

<br>

<div>
  <%= link_to "Show this tech task evaluation", @tech_task_evaluation %> |
  <%= link_to "Back to tech task evaluations", tech_task_evaluations_path %>
</div>
