<!--Author: Ross Imbrock-->
<!--Created on: 12/04/22-->
<head>
<%= stylesheet_link_tag 'evaluation', media: "all" %>
</head>
<h1>Tech Task Peer Evaluation</h1>

<%= render "form", tech_task_evaluation: @tech_task_evaluation %>