/* Author: Charles Kluznik
Date: 11/29/2022
Contains common Sass variables to be shared between pages. */

//Colors
$osu-scarlet: #BA0C2F;
$osu-scarlet-dark40: #70071C;
$osu-scarlet-dark60: #4A0513;
$osu-gray: #A7B1B7;
$osu-gray-light80: #EFF1F2;
$osu-gray-light60: #DFE3E5;
$osu-gray-light40: #CFD4D8;
$osu-gray-light20: #BFC6CB;
$osu-gray-dark80: #212325;
$osu-gray-dark60: #3F4443;
$osu-gray-dark40: #646A6E;
$osu-gray-dark20: #868E92;
$osu-white: #FFFFFF;
$osu-black: #000000;

//Fonts
$osu-font-primary-sans: "DejaVu Sans Mono", sans-serif;
$osu-font-secondary-serif: "Times New Roman", serif;