/* Created By: Alex Echanove 12/07/2022 */
@import "common";
@import "bootstrap";

body {
    color: $osu-black;
    font-family: $osu-font-primary-sans;
}



h1 {
    background-color: $osu-scarlet;
    text-align: center;
    font-size: 30px
}

h3 {
    color: $osu-black;
    text-align: center;
    margin: 10px auto 10px auto;
    padding: 5px;
}

